body {
  background-image: linear-gradient( 99.9deg, rgba(27,24,31,1) 21.2%, rgba(50,4,89,1) 84.8% );
  margin: 0;
  padding: 0;
}
header{
  position: absolute;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #03506F;
  opacity: 0.8;
  padding: 0;
}
#titulo{
  position: absolute;
  left: 0%;
  font-family: Courier New ;
  font-size: 300%;
  color: #ffffff;
  padding: 5px;
  letter-spacing: 5px;
  font-weight: bold;
}

#subtitulo{
  font-family:  Courier New;
  font-size: 30px;
  color:#ffffff;
  letter-spacing: 5px;
  font-weight: bold;
}
#firma{
  font-family: Copperplate;
  font-size: 35px;
  color:#ffffff;
  position: absolute;
  right: 0%;
}
#sol_luna {
  position: fixed;
  background-image: url("files/luna.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  height: 20%;
}
#hoja_nuevo{
 
    position:relative;
    width:50%;
    height:120%;
    background-image: url(files/cuaderno.png);
    background-repeat: no-repeat;
    background-size:cover;  
}
#formulario{
  width: 100%;
  height: 100%;
}
#alert{
  position: absolute;
  right:  0%;
  top: 0;
 width: 20%;
 color: red;
 font-size: 30px;

}
#detalles{
  display: none;
  position:absolute;
  z-index:0;
  width: 100%;
  height: 100%;
  background:none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
}
#detalles_imagen{
  width: 40%;
  height: 100%;
  background-repeat: no-repeat;
  background-size:cover; 
}
#detalles_texto{
  width: 50%;
  height: 50%;
}
#nombre{
  font-size: 150%;
  font-family: Courier New;
  width: 95%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  right: 0;
  background: none;
}
#texto{
  
  position: absolute;
  right: 0;
  font-size: 120%;
  width: 95%;
  height: 95%;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: none;
  line-height: 185%;


}
#nuevo_nombre{
  width: 100%;
  height: 90%;
  position: absolute;
  align-items: right;
}
#nuevo_titulo{
  width: 100%;
  height: 10%;
  align-items: right;
  font-size:20px;
}
.centro{
font-size: 20px;
position: absolute;
top: 58%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
justify-content: center;
align-items: center;
width: 90%;
height: 75%;
/*
background-image: url("https://i.ibb.co/n6kwRdG/orange-background.png");
background-size: cover;
background-position: center;
*/
}
.delete{
  width:10%;
  height: 10%;
}

#tabla{

  display: table;  /*
  border: 1px solid black; */
  width: 100%;
  height: 100%;


}
.d_fila{
  display: table-row;
  height: 180px;


  
}
.d_columna{
  color :white;
  display: table-cell;
  /*
  border: 1px solid black;*/
  width: 150px;
  text-align: center; 
  vertical-align: middle; 


}
.espacio{
  color :white;
  display: table-cell;
  /*
  border: 1px solid black;*/
  width: 150px;
  text-align: center; 
  vertical-align: middle; 


}
.contenido{
display: flex;

width:100%;
height: 100%;
justify-content: center;
align-items: center; 
position: relative;

}

.circulo{
  background-repeat: no-repeat;
  background-size:cover;  
  width: 80%;
  height: 80%;
  border-radius: 50%;
  left: 30%;
  top: 0;
  
}
.nombre{
 
  position: absolute;
  width: 100%;
  height:20%;
  bottom: 20%;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color:cornsilk;
}


#fondo_imagen{
  
  background-image: url("files/estrellas.png");
  background-size: cover;
  height: 100%;
  width: 100%;
}


.toggle-switch {
  
  position:relative; 
  display: inline-block;
  width: 60px;
  height: 34px;
  
}

.toggle-input {
  display: none;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 34px;
  background-color: #ccc;
  cursor: pointer;
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: transform 0.2s;
}

.toggle-input:checked + .toggle-label {
  background-color: #2196F3;
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(26px);
}
